header {
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}